.catsheader {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 30px;
    background-color: transparent;
    box-shadow: none;
    transition: all .15s ease;
}

.stickied {
    background-color: beige;
    box-shadow: 0px 10px 15px 8px rgba(0, 0, 0, 0.15);
}