.card {
    width: 95%;
    background: white;
    position: relative;
    margin-top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    box-shadow: 0px 10px 25px 8px rgba(0, 0, 0, 0.25);

    .heading {
        padding-top: 10px;
        display: flex;
        width: 100%;
        justify-content: start;
        align-items: center;
        background-color: black;
        color: white;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        .text {
            margin-left: 50px;
            margin-right: 10px;
            color: white;
        }

        span, button {
            margin-bottom: 10px;
        }

        button {
            margin-left: 15px;
        }
    }

    .options {
        padding: 30px 50px 30px 50px;
        background-color: beige;

        h5 {
            -webkit-touch-callout: none; /* iOS Safari */
            -webkit-user-select: none; /* Safari */
            -khtml-user-select: none; /* Konqueror HTML */
            -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
        }
    }

    .graph {
        padding: 30px 50px 30px 50px;
    }
  }

.graphContainer .ant-space-item:first-child .card {
    margin-top: 0px;
}