{% load render_bundle from webpack_loader %}

<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="shortcut icon" href="#" />

    <!-- Webpack rendered CSS -->
    {% render_bundle 'main' 'css' %}
  </head>

  <body>
    <!-- Body Content -->
    {% block body %}{% endblock %}

    <!-- django-js-reverse -->
    <script src="{% url 'js_reverse' %}" type="text/javascript"></script>

    <!-- Webpack rendered Javascript -->
    {% render_bundle 'vendors~main' 'js' 'DEFAULT' %} {% render_bundle 'main' 'js' 'DEFAULT' %}

    <!-- Extra rendered Javascript -->
    {% block scripts %}{% endblock %}
  </body>
</html>
